html, body{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#appFrame{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bu-screen{
  display: block;
  position: relative;
  width: 96%;
  height: 97%;
  top: 50%;
  margin: 0 auto;
  @include transform(translateY(-50%));
  background-color: $color_b;

  .bu-content-frame{
    display: block;
    position: relative;
    width: 100%;
    height: 90%;
  }
}