html, body{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#appFrame, #mainLayout{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contentFrame{
  display: block;
  position: relative;
  width: 100%;
  height: 90%;
  background-color: $color_light;
  overflow-y: scroll;
}

nav{
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color_dark;
}

.bu-screen{
  display: block;
  position: relative;
  width: 96%;
  height: 96%;
  top: 50%;
  margin: 0 auto;
  @include transform(translateY(-50%));
  background-color: $color_b;
}