html, body{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#appFrame, #mainLayout{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contentFrame{
  display: block;
  position: relative;
  width: 100%;
  height: 90%;
  background-color: $color_light;
}

nav{
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color_dark;
}