.bu-map-holder{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  #mapFrame{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}