.bu-place-types{
  display: block;
  position: relative;
  text-align: center;
  background-color: $color_a;
  // top: 50%;
  // @include transform(translateY(-50%));

  .bu-place-type-item{
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0.3;

    &.active{
      opacity: 1; 
    }
  }
}