article.bu-place{
  section.bu-place-catalogues,
  section.bu-place-offers,
  section.bu-place-events,
  section.bu-place-images{
    ul{
      li{
        a, span{
          padding: 1.2em;
          display: inline-block;
          width: 100%;
          height: 100%;
          color: $color_d;
        }

        &.bu-event-item{
          display: block;
          position: relative;
          height: 120px;
          overflow: hidden;

          img{
            display: block;
            position: absolute;
            width: 100%;
            top: 50%;
            @include transform(translateY(-50%));
          }

          .bu-event-text{
            display: inline-block;
            position: relative;
            padding: 0 1.2em;
            width: 100%;
            height: auto;
            top: 50%;
            @include transform(translateY(-50%));
            z-index: 9;
            
            h3, h4{
              color: $color_d;
            }

            h4{
              font-size: 0.8em;
            }
          }

          .bu-event-text-base{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            top: 0;
            left: 0;
            padding: 0;
          }
        }
      }
    }
  }

  section.bu-place-images{
    display: block;
    position: relative;
    overflow: hidden;
    height: 120px;

    ul{
      height: 100%;
      width: 200%;
      
      li.bu-image-item{
        display: inline-block;
        height: 100%;
        
        img{
          height: 100%;
        }
      }
    }

  }

  // section.bu-place-offers ul li span{
  //   font-weight: bold;
  //   letter-spacing: 0.2em;
  //   font-size: 1.2em;
  // }

  section.bu-place-info{
    table{
      width: 100%;
      background-color: $color_a;
      border-collapse: collapse;

      tr{

        th, td{
          text-align: left;
          padding: 0.6em 1.2em;
          color: $color_d;
          width: 50%;
          border-top: 1px solid $color_d;
          border-bottom: 2px solid $color_d;
        }

        a{
          color: $color_d;
        }

        // th{
        //   width: 33%;
        // }

        // td{
        //   width: 67%;
        // }
      }
    }
  }
}