@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300&subset=greek,latin);

h1, h2, h3, h4, h5, p, span{
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: $color_a;
}

*, a:visited, a:active{
  text-decoration: none;
}

.fa{
  color: $color_d;
}