@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300&subset=latin,greek);

h1, h2, h3, h4, h5, p, span, th, td, a{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: $color_a;
}

*, a:visited, a:active{
  text-decoration: none;
}

.fa{
  color: $color_d;
}