$color_light: white;
$color_dark: rgb(20, 20, 20);

// $color_a: #1D1D1B;
// $color_b: #852A2B;
// $color_c: #D65750;
// $color_d: #FFFFFF;


$color_a: #3A3A3C;
// $color_a: #000000;
$color_b: #B85241;
$color_c: #D65750;
$color_d: #FFFFFF;